@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-8);
}

header{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 75px 0 75px;
}

.header_logo{
    /* background: blue; */
}

.header_logo img{
    
}

.header_nav{
    /* background: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}

.header_nav li{
    list-style: none;
}

.header_nav li a{
    color: var(--color-1);
    font-family: "Poppins-SemiBold";
    text-decoration: none;
    font-size: 28px;
    display: flex;
}

.header_nav li img{
    
}

.header_menu{
    /* background: violet; */
}

.header_menu img{
    
}

/********** main *********/

main{
    background: green;
    padding: 45px 75px 0 75px;
}

.section_container{
    background: blue;
    justify-content: space-between;
    display: flex
}

.article_jumping{
    width: 679px;
    background: violet;
    display: flex;
    flex-direction: column;
}

.article_jumping h1{
    color: var(--color-1);
    font-family: "Poppins-SemiBold";
    font-size: 120px;
    line-height: 110px;
}

.article_jumping p{

}

.div_buttons{
    background: rebeccapurple;
    display:flex;
}

.div_buttons a{

}